name: Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          extensions: sqlite3, mbstring, pdo_sqlite, xml
          
      - name: Install Dependencies
        run: composer install --no-dev --prefer-dist --optimize-autoloader

      - name: Prepare environment
        run: |
          cp .env.example .env
          touch database/database.sqlite
          php myssh key:generate

      - name: Build Application
        run: php myssh app:build myssh --build-version=${{ github.ref_name }}

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: builds/myssh